/*.corpline {}*/
/*links*/


a {
	color: #3db0c1;
}


/*general styles*/

.front-product {
	-webkit-background-size: cover;
	background-size: cover;
}
.front-product_bottom .more {
	color: #3db0c1;
}

.front-product_bottom .more:before {
	background-color: #3db0c1;
}

.front-slider__item-text-title {
	line-height: 1.25;
}
.wrapper ul.list-dash>li {
	padding-left: 28px;
	margin-bottom: 18px;
}
.wrapper ul.list-dash>li:before {
	width: 16px;
	height: 2px;
	top: 12px;
	background: #3db0c1;
	border-radius: 0;
}
.wrapper ul>li>ul>li:before, 
.wrapper ol>li>ul>li:before {
	background: #3db0c1;
}

.wrapper ol>li:before {
	background: #3db0c1;
}
.form__check--agree label:before {
	background: #3db0c1;
}
.title-prev {
	color: #3db0c1;
}

.front-client .bx-wrapper .bx-controls-direction a:before {
	background: #3db0c1;
}

.form__submit input, .form__submit button {
	background-color: #3db0c1;
}

.form__submit input:hover, .form__submit button {
	background-color: #54bdd1;
}

.corpline a.parination__item:hover {
	background-color: #3db0c1;
  color: #fff;
}

.corpline .parination__item--next span, 
.corpline .parination__item--prev span {
	background: url(images/pagin_left_blue.svg) no-repeat center bottom;
}

.title.title--left {
	text-align: left;
}

/*header top*/
.corpline .call-me {
	background: url(images/header_tel.svg) no-repeat top center;
	background-size: 100%;
}

.corpline .call-me:hover {
	background-position: center bottom;
}


/*header menu*/
.header__menu {
	background: -moz-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
	background: -webkit-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
	background: -ms-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
	height: 82px;
}

.header__menu-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header__menu-item {
	float: none;
	width: auto;
}

.header__menu-item:not(:last-child):after {
	content: none;
}

a.header__top-menu-item:hover {
	color: #54bdd1;
}

.header__bottom-adap {
	background: -moz-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
	background: -webkit-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
	background: -ms-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 53%, rgb(56,187,87) 100%);
}

.header__top-adap-btn {
	background-image: url(images/humb_blue.svg);
}
.header__top-adap-btn.open {
	background-image: url(images/cross_pop_blue.svg);
}


/*footer*/
.footer__info-mail a {
  color: #3db0c1;
}

.footer__info-mail a:hover {
  color: #54bdd1;
}

.footer__menu-item a:hover {
	color: #54bdd1;
}

/*breadcrumbs*/
.breadcrumb__item a:after {
	background-image: url(images/btn_arr_blue.svg);
}

/*list-of-solutions*/
.corpline-industry {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 90px;
}
@media(max-width: 1250px) {
	.corpline-industry {
		margin-bottom: 60px;
	}
}
@media(max-width: 767px) {
	.corpline-industry {
		margin-bottom: 30px;
	}
}

.corpline-industry__item {
	position: relative;
	display: block;
	width: calc((100% - 50px)/3);
	height: 262px;
	margin-bottom: 25px;
	box-shadow: -9px 13px 21px 0px rgba(0, 0, 0, 0);
	transition: box-shadow 0.3s ease;
  
}

@media all and (-ms-high-contrast:none){
	*::-ms-backdrop, .corpline-industry__item { width: 30% } /* IE11 */
}

@media (max-width: 1250px) and (-ms-high-contrast:none){
	*::-ms-backdrop, .corpline-industry__item { width: 47% } /* IE11 */
}

@media(max-width: 1250px) {
	.corpline-industry__item {
		width: calc((100% - 25px)/2);
	}
}

@media(max-width: 767px) {
	.corpline-industry__item {
		width: 100%;
	}
}

.corpline-industry__item:before {
	content: '';
	position: absolute;
	height: 50%;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	background: -moz-linear-gradient( 90deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient( 90deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient( 90deg, rgba(0,0,0, 1) 0%, rgba(0,0,0,0) 100%);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.corpline-industry__item:hover {
	box-shadow: -9px 13px 21px 0px rgba(0, 0, 0, 0.6);
}
.corpline-industry__item:hover .corpline-industry__item-arror:before {
	width: 68px;
	height: 68px;
}

.corpline-industry__item:hover:before {
	opacity: 1;
}

.corpline-industry__item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}

.corpline-industry__item-title {
	position: absolute;
	left: 38px;
	bottom: 42px;
	font-size: 30px;
	font-family: circe;
	font-weight: bold; 
	color: #fff;
	max-width: 232px;
	z-index: 2;
	line-height: 1.1;
	margin-bottom: -8px;
}

.corpline-industry__item-arror {
	position: absolute;
	bottom: 42px;
	right: 45px;
	width: 24px;
	height: 24px;
	background: url(images/more-arr.svg) no-repeat center;
	z-index: 2;
}

.corpline-industry__item-arror:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 48px;
	height: 48px;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.main-block.main-block--full {
	width: 100%;
}

/*Cards industry list*/
.corpline-cards {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 -10px 60px;
}



.corpline-cards__item {
	color: #39393c;
	padding: 20px 68px 20px 24px;
	height: 124px;
	position: relative;
	margin: 0 10px;
	width: calc(50% - 20px);
	transition: all 0.3s ease;
	margin-bottom: 25px;

}

.corpline-cards__item:hover {
	text-decoration: none;
	
}
.corpline-cards__item:hover .corpline-cards__item-arrow {
	background-image: url(images/btn_arr_white.svg) 
}

.corpline-cards__item:hover .corpline-cards__item-title  {
	color: #fff;
}

.corpline-cards__item:hover .corpline-cards__item-arrow:before {
	border-color: #fff;
	width: 58px;
	height: 58px;
}

.corpline-cards__item:hover .corpline-cards__item-wrap {
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	top: -10px;
	left: -10px;
	box-shadow: -5.162px 7.372px 24px 0px rgba(0, 0, 0, 0.32);
}

.corpline-cards__item:hover .corpline-cards__item-wrap:after  {
	opacity: 1;
	transform: scale(800);
}

.corpline-cards__item-wrap {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: -1.2px 1.638px 9px 0px rgba(0, 0, 0, 0.07);
	transition: all 0.3s ease;
	overflow: hidden;
}

.corpline-cards__item-wrap:after {
	content: '';
	display: block;
	position: absolute;
	transform: scale(1);
	bottom: 47px;
	right: 43px;
	width: 1px;
	height: 1px;
	background-color: #3db0c1;
	border-radius: 50%;
	transition: transform 0.4s ease;
	pointer-events: none;
}

.corpline-cards__item-title {
	font-size: 18px;
	font-weight: bold;
	position: relative;
	line-height: 1.2;
	z-index: 1;
	max-height: calc(18px * 3 * 1.2);
	overflow: hidden;
}

.corpline-cards__item-num {
	color: #d8d8d8;
	font-weight: bold;
	font-size: 14px;
	position: absolute;
	bottom: 20px;
	left: 24px;
	line-height: 1;
	z-index: 1;
}


.corpline-cards__item-arrow {
	position: absolute;
	right: 40px;
	bottom: 40px;
	z-index: 1;
	display: block;
	width: 7px; 
	height: 13px;
	background: url(images/btn_arr_gray.svg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover; 	
}

.corpline-cards__item-arrow:before { 
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 48px;
	height: 48px;
	border: 1px solid #c1c1c1;
	border-radius: 50%;
	transition: all 0.3s ease;
	background-size: 100%;
}
@media(max-width: 767px) {
	.corpline-cards {
		margin-bottom: 30px;
	}
	.corpline-cards__item {
		width: 100%;
	}
}

/*corpline-projects*/


.corpline-projects__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #dadadb;
	padding: 35px 0 35px 0;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0px 16px 21px 0px rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
	margin-bottom: 40px;

}

.corpline-projects__item:hover {
	border-color: #fff;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 16px 21px 0px rgba(0, 0, 0, 0.15);
  
}

.corpline-projects__col:nth-child(1) {
	width: 30%;
	padding: 0 50px;
}

.corpline-projects__col:nth-child(2) {
	width: 70%;
	padding: 0 80px 0 0;
}



.corpline-projects__pic {
	max-width: 130px;
	width: 100%;
	margin: 16px auto;
}
.corpline-projects__time {
	font-size: 14px;
	line-height: 26px;
	color: #bbbbbb;
	margin-bottom: 5px;
}

.corpline-projects__head {
	font-size: 22px;
	line-height: 1.45;
	font-weight: bold;
	color: #39393c;
	margin-bottom: 20px;
}

.corpline-projects__text {
	font-size: 16px;
	line-height: 1.625;
	color: #6a6a6a;
	margin-bottom: 18px;
}

.corpline-projects__tag {
	font-size: 14px;
	line-height: 1;
	color: #6a6a6a;
}

.corpline-projects__tag-ttl {
	color: #bbbbbb;
}


@media(max-width: 767px) {
	.corpline-projects__item {
		flex-wrap: wrap;
	}

	.corpline-projects__col:nth-child(1) {
		width: 100%;
		padding: 0 10px;
	}

	.corpline-projects__col:nth-child(2) {
		width: 100%;
		padding: 0 25px;
	}
}

/*solutions-result*/
.solutions-result {
	position: relative;
	padding: 90px 0;
	margin-bottom: 90px;
}

.solutions-result:before {
	content: "";
	position: absolute;
	display: block;
	left: -200%;
	right: -200%;
	top: 0;
	bottom: 0;
	background: #f5f1de;
	z-index: -1;
}

.solutions-result__wrap {
	-webkit-background-size: 77px 64px;
	background-size: 77px 64px;
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 0 0 0 136px;
}

.solutions-result__title {
	margin-bottom: 28px;
}

@media(max-width: 767px) {
	.solutions-result__wrap {
		-webkit-background-size: 55px 43px;
		background-size: 55px 43px;
		padding: 60px 0 0 0px;
	}
	.solutions-result {
		padding: 60px 0;
		margin-bottom: 60px;
	}
}


/*solutions-adv-wrap*/
.solutions-adv {
	position: relative;
	padding: 67px 0;
	margin-top: 40px;
}
.solutions-adv:before {
	content: "";
	position: absolute;
	display: block;
	left: -200%;
	right: -200%;
	top: 0;
	bottom: 0;
	background: #e1edf2;
	z-index: -1;
}

.solutions-adv__title {
	margin-bottom: 42px;
}
.solutions-adv-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.solutions-adv__item {
	width: 50%;
	padding: 4px 30px 0 48px;
	margin-bottom: 26px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSI+PGNpcmNsZSBjeD0iMTUuNSIgY3k9IjE1LjUiIHI9IjE1LjUiIGZpbGw9IiNmZmZmZmMiLz48cGF0aCBkPSJNMjIuODM0IDEwLjE3YS41NzIuNTcyIDAgMCAwLS44MTYgMGwtOS4zNTQgOS40MjYtMy42NzktMy43MDhhLjU3NC41NzQgMCAwIDAtLjgxNiAwIC41ODQuNTg0IDAgMCAwIDAgLjgyM2w0LjA4NyA0LjExOGEuNTc0LjU3NCAwIDAgMCAuODE2IDBsOS43NjItOS44MzdhLjU4My41ODMgMCAwIDAgMC0uODIyeiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+);
	background-position: 0 0;
	background-repeat: no-repeat;
}
@media(max-width: 767px) {
	.solutions-adv__item {
		width: 100%;
	}
}

/*solutions-tabs*/
.solutions-tabs {
	margin-bottom: 16px;
}
.solutions-tabs__title {
	display: table-cell;
	color: #96969d;
	width: 180px;
}

.solutions-tabs__body {
	display: table-cell;
}

.solutions-tabs__item {
	font-weight: bold;
	text-transform: uppercase;
	color: #2488ba;
	margin-left: 20px;
	margin-bottom: 7px;
	display: inline-block;
}
.solutions-tabs__item:hover {
	color: #54bdd1;
}

@media(max-width: 767px) {
	.solutions-tabs__title,
	.solutions-tabs__body {
		display: block;
		width: 100%;
	}
	.solutions-tabs__title {
		margin-bottom: 7px;
	}
	.solutions-tabs__item  {
		margin-left: 0;
		margin-right: 20px;
	}
}

.solutions-steps {
	padding: 70px 0 95px;
	position: relative;
}

.solutions-steps__item-num {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	background-color: red;
	text-align: center;
	background-image: -moz-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 65%, rgb(46,159,141) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 65%, rgb(46,159,141) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 65%, rgb(46,159,141) 100%);
	margin-bottom: 46px;
	position: relative;
}
.solutions-steps__item-num:before {
	content: '';
	display: block;
	position: absolute;
	left: -20px;
	right: -20px;
	top: 0;
	bottom: 0;
	background-color: #f6f6f3;
	z-index: -1;

}

.solutions-steps__item-title {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.2;
}

.solutions-steps__title {
	margin-bottom: 55px;
}

.solutions-steps__list {
	position: relative;
}

.solutions-steps__list:before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: #d5d5d2;
	top: 20px;
	z-index: -1;
}

.solutions-steps__pager-item {
	position: absolute;
	right: 0;
	bottom: 46px;
	width: 44px; 
	height: 44px;
	background: url(images/stages_arr.svg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover; 
	cursor: pointer;
			
}
.solutions-steps__pager-item:hover {
	opacity: 0.7;
}

.solutions-steps__pager-item--prev {
	right: 66px;
}

.solutions-steps__pager-item--next {
	right: 0;
	transform: rotate(180deg)
}

.solutions-steps__pager-item a {
	text-indent: -9999px;
  display: block;
  height: 100%;
  position: relative;
}

.product-list__title {
	margin-bottom: 40px;
}

.corpline-projects__title {
	margin-bottom: 40px;
}

.product-list + .corpline-projects__title {
	margin-top: 90px;
}

.pagination-project {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.pagination-project__item {
	height: 60px;
	padding: 18px 25px;
}

.pagination-project__item--prev:before,
.pagination-project__item--next:before {
	content: '';
	display: block;
	background-image: url(images/btn_arr_black.svg);
	width: 6px;
	height: 9px;
	position: absolute; 
	top: 26px;


}
.pagination-project__item--prev:before {
		left: 20px;
		transform: rotate(180deg);
}
.pagination-project__item--next:before {
		right: 20px;
}

.pagination-project__item--prev,
.pagination-project__item--next {
	background-color: rgb(255, 255, 255);
	box-shadow: -1.147px 1.638px 9px 0px rgba(0, 0, 0, 0.07);
	position: relative;
}

.pagination-project__item--prev:hover,
.pagination-project__item--next:hover {
	background-color: #54bdd1;
	color: #fff;
}

.pagination-project__item--prev {
	padding: 18px 20px 18px 35px;
}
.pagination-project__item--next {
	padding: 18px 35px 18px 20px;
}
.pagination-project__item-list {
	position: relative;
}

.pagination-project__item-list:hover {
	opacity: 0.7;
	color: #3db0c1;
}
.pagination-project__item-list:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(images/to-list.svg);
	width: 25px;
	height: 24px;
	margin-right: 12px;
}
@media (max-width: 1250px) and (min-width: 992px)  {
	.pagination-project__item--prev,
	.pagination-project__item--next {
		font-size: 0;	
		padding: 18px 25px;
	}
}
@media(max-width: 767px) {
	.pagination-project__item--prev,
	.pagination-project__item--next {
		font-size: 0;	
		padding: 18px 25px;
	}
}

@media(max-width: 352px) {
	.pagination-project__item-list:before {
		content: none;
	}
}

.other-client--project .other-client__item {
	height: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}
.other-client--project .other-client__item-img {
	width: 95px;
	align-self: flex-start;
}
.other-client--project .other-client__item-text { 
	align-self: flex-start;
	width: calc(100% - 95px); 
	padding-right: 25px;
}

.other-client--project .other-client__item-img {
	text-align: center;
}

.other-client--project .other-client__item-img img {
	position: relative;
}
@media(max-width: 1250px) {
	.other-client--project .other-client__item-text { 
		width: calc(100% - 95px); 
		padding-right: 15px;
	}
}
@media(max-width: 991px) {
	.other-client--project .other-client__item-text { 
		width: calc(100% - 95px); 
		padding-right: 25px; 
	}
}
@media(max-width: 550px) {
	.other-client--project .other-client__item-text { 
		width: calc(100% - 95px); 
		padding-right: 15px; 
	}
}

.other-client__item:hover {
	color: #3db0c1;
}
.other-client__link:hover {
	color: #3db0c1;
}
.other-client__link:after {
  background: url(images/arrow_right_blue.svg) no-repeat center;
}

/*.project-card*/

.project-card {
	background-color: rgb(255, 255, 255);
  box-shadow: -1.147px 1.638px 9px 0px rgba(0, 0, 0, 0.07);
	margin-bottom: 60px;
}

.project-card__item {
	padding: 30px 40px;
	border-top: 1px solid #e5e5e3;
}
.project-card__col:nth-child(1) .project-card__item:nth-child(1) {
	margin-top: calc(-100% - 30px);
}

.project-card__item-title {
	text-transform: uppercase;
	font-size: 12px;
	color: #bbbbbb;
	letter-spacing: 0.25px;
	line-height: 1;
}
.project-card__item-descr {
	line-height: 1.2;
}
.project-card__item-pic {
	padding-top: 95%;
	position: relative;
}
.project-card__item-pic img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	max-height: 100%;
}
@media (max-width: 1250px) {
	.project-card__item {
		padding: 30px 25px;
	}
	.project-card__col:nth-child(1) .project-card__item:nth-child(1) {
		margin-top: calc(-100% - 60px);
	}
}
@media (max-width: 991px) {

	.project-card__col:nth-child(1) .project-card__item:nth-child(1) {
		margin-top: 0;
	}
}

/*.project-head*/
.project-head {
	margin-bottom: 60px;
	color: #fff;
	padding: 0 0 80px;
	-webkit-background-size: cover;

	background-size: cover;
	background-position: center center;
}

.project-head .breadcrumb__item a:after {
	background-image: url(images/btn_arr_white.svg);
}
.project-head .breadcrumb__item a, 
.project-head .breadcrumb__item span {
	color: #fff;
}

.project-head__title {
	margin-bottom: 56px;
}
.project-head__text {
	font-family: circe;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.375;
}

.project-head__date {
	font-size: 14px;
	color: #bbbbbb;
	margin-bottom: 10px;
}
@media (max-width: 1250px) {
	.project-head__text {
		font-size: 24px;
	}
}
@media (max-width: 991px) {
	.project-card {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.project-card__col:nth-child(1) {
		width: 33.3%;
	}
	.project-card__col:nth-child(1) .project-card__item {
		height: 100%;
	}	
	.project-card__col:nth-child(1) .project-card__item-pic {
		padding-top: 0;
	}
	.project-card__col:nth-child(1) .project-card__item-pic img{
		position: relative;
		top: 0;
		left: 0;
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
	.project-card__col:nth-child(2) {
		width: 66.6%;
	}
}
@media (max-width: 560px) {
	.project-card {
		flex-wrap: wrap;
	}
	.project-card__col:nth-child(1) {
		width: 100%;
	}
	.project-card__col:nth-child(2) {
		width: 100%;
	}
	.project-card__col:nth-child(1) .project-card__item-pic img {
		max-width: 250px;
	}	
}

/*.compet-company*/
.compet-company {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 108px 0 356px;
	flex-wrap: wrap;
}
.compet-company__col {
	width: 50%;
}
.compet-company__col:nth-child(1) {
	padding: 0 40px;
}
.compet-company__pic-wrap {
	height: 100%;
	min-height: 280px;
}

.compet-company__title {
	text-transform: uppercase;
	margin-bottom: 30px;
}
.compet-company__pic-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.compet-company__pic {
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.compet-company__pic:nth-child(1),
.compet-company__pic:nth-child(2) {
	border-bottom: 1px solid #e5e5e3;
}
.compet-company__pic:nth-child(1),
.compet-company__pic:nth-child(3) {
	border-right: 1px solid #e5e5e3;

}
.compet-company__pic img{
	margin: auto;
	max-width: calc(100% - 20px);
	max-height: calc(100% - 20px);
}
@media (max-width: 991px) {
	.compet-company__col {
		width: 100%;
	}
	.compet-company__col:nth-child(1) {
		padding: 0;
	}
	.compet-company__col:nth-child(2) {
		margin-top: 30px;
	}
}

@media (max-width: 550px) {
	.compet-company {
	  padding-top: 70px;
	}
}

/*corpline-events*/
.corpline-events {
	background: #f6f6f3;
	padding: 75px 0;
}

@media (max-width: 767px) {
	.corpline-events{
	  padding: 50px 0 40px;
	}	
}


.corpline-events-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	flex-wrap: wrap;
}

.corpline-events__item {
	position: relative;
	display: block;
	padding: 40px 40px 60px 145px;
	border-radius: 4px;
	overflow: hidden;
	width: calc(50% - 15px);

}


.corpline-events__item:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -moz-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 58%, rgb(56,187,87) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 58%, rgb(56,187,87) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(36,134,190) 0%, rgb(46,161,139) 58%, rgb(56,187,87) 100%);
	-webkit-background-size: cover;
	background-size: cover;
	transition: all 0.3s ease;

} 

.corpline-events__item:hover:before  {
	background-image: -moz-linear-gradient( 0deg, rgba(184,200,108,0.9) 0%, rgba(61,203,95,0.9) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(184,200,108,0.9) 0%, rgba(61,203,95,0.9) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(184,200,108,0.9) 0%, rgba(61,203,95,0.9) 100%);
}

.corpline-events__item-pic {
	position: absolute;
	left: 40px;
	opacity: 0.3;
	transition: all 0.4s ease;
}

.corpline-events__item:hover .corpline-events__item-pic  {
	opacity: 1;
}

.corpline-events__item:hover .corpline-events-arrow:before {
	width: 68px;
	height: 68px;
}

.corpline-events-arrow {
	position: absolute;
	bottom: 42px;
	right: 45px;
	width: 24px;
	height: 24px;
	background: url(images/more-arr.svg) no-repeat center;
	z-index: 2;
}

.corpline-events-arrow:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 48px;
	height: 48px;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.corpline-events__item-date {
	font-size: 14px;
	color: #fff;
	margin-bottom: 12px;
	position: relative;
}

.corpline-events__item-title {
	font-size: 26px;
	line-height: 1.25;
	font-weight: bold;
	color: #fff;
	position: relative;
}
@media (max-width: 991px) {
	.corpline-events__item {
		margin-bottom: 30px;
		width: 100%;
	}
}

@media (max-width: 560px) {
	.corpline-events__item {
		padding: 30px 20px 65px 20px;
	}
	.corpline-events__item-title {
		font-size: 18px;
	}
	.corpline-events__item-pic {
		opacity: 0.1!important;
	}
}


/*corpline services*/
.corpline-services {
	padding-top: 100px;
	padding-bottom: 108px;
  background: url(img/services_back.jpg) no-repeat center;
  background-size: cover;
}

.corpline-services .title {
	color: #fff;
}

.corpline-services .title-prev {
	color: #fff;
}

@media(max-width: 550px) {
	.corpline-services {
		padding: 70px 0 ;
	}
}

.corpline-services-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 70px;
}

.corpline-services__item {
	position: relative;
	display: block;
	width: calc((100% - 50px)/3);
	height: 304px;
	margin-bottom: 35px;
	box-shadow: -9px 13px 21px 0px rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
	border-radius: 4px;
	top: 0;
	overflow: hidden;

}

@media all and (-ms-high-contrast:none){
	*::-ms-backdrop, .corpline-services__item { width: 30% } /* IE11 */
}

@media (max-width: 1250px) and (-ms-high-contrast:none){
	*::-ms-backdrop, .corpline-services__item { width: 47% } /* IE11 */
}

@media(max-width: 1250px) {
	.corpline-services__item {
		width: calc((100% - 25px)/2);
	}
}

@media(max-width: 560px) {
	.corpline-services__item {
		width: 100%;
	}
}

.corpline-services__item:hover {
	top: -20px;
	box-shadow: -9px 13px 21px 0px rgba(0, 0, 0, 0.6);
}

.corpline-services__item-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 80px);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.corpline-services__item-title {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	font-size: 18px;
	font-weight: bold; 
	z-index: 2;
	line-height: 1.2;
	background-color: #fff;
	color: #39393c;
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
}
.corpline-services__item-title span {
	margin: auto;
	display: block;
	text-align: center;
}
